{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block content %}
    
    <div id="appointee-details"> 
        
        <h3>Personal details</h3> 
            
            <p> 
                <strong>Full name:</strong> 
                <span id="appointee-name"> {{ appointee.forenames }} {{ appointee.surname }} </span> 
                (<span id="appointee-id">{{ appointee.id }}</span>)<br> 
    
                <strong title="Sometimes another company can be appointed to the role of company secretary or director">Type:</strong> 
                <span id="appointee-type">{% if appointee.isCorporate %}Corporate{% else %}Individual{% endif %}</span><br>
 
                <strong title="This is the Companies House revision number of the person's information">Revision:</strong> 
                <span id="appointee-revision">{{ appointee.revision }}</span><br> 
 
                <strong>Occupation:</strong> 
                <span id="appointee-occupation">{{ appointee.occupation }}</span><br> 
 
                <strong>Date of birth:</strong> 
                <span id="appointee-birthdate">{{ appointee.dateOfBirth|date("Y-m-d") }}</span><br> 
 
                <strong>Postcode:</strong> 
                <span id="appointee-postcode"><a href="http://maps.google.com/?q={{ trimmedPostcode|url_encode }}">{{ trimmedPostcode }}</a></span> 
                <span class="small quiet">(Google Maps link is APPROXIMATE, based on partial postcode only)</span>
    
                <br> 
 
                <strong title="This is the country of the appointee's service address, not necessarily their country of residence or nationality.">Country:</strong> 
                <span id="appointee-country">{{ appointee.country }}</span><br> 
            </p> 

    </div> 
 
 
    <h3>Appointments</h3> 
 
    <p>Showing all {{ appointee.companyAppointments|length }} appointments.</p> 
 
    <table id="appointments"> 
        <thead> 
            <tr> 
                <th scope="col">Date</th> 
                <th scope="col">Type</th> 
                <th scope="col">Company</th> 
            </tr> 
        </thead> 
        <tbody> 
    
        	{% for appointment in appointee.companyAppointments %}
 			
 				<tr>			
 					<td>{{ appointment.appointedOn|date("Y-m-d") }}</td>
 					<td>{{ appointment.type }}</td>
					<td><A href="{{ url( 'company_show', { 'id': appointment.companyId }) }}">{{ appointment.company.name }}</a></td>
				</tr>
				
 			{% endfor %} 
                  
        </tbody> 
    </table> 
 
    <h3>Annotations</h3> 
 
    <h4>Corrections</h4> 
 
    <h4>Websites</h4> 
 
    <h4>Locations</h4> 
 	
	<p>Alternative presentations: <a href="{{ url('appointee_show', {'id': appointee.id ,'_format': 'json'} ) }}">JSON</a>, <a href="{{ url('appointee_show', {'id': appointee.id ,'_format': 'rdf'} ) }}">RDF</a></p> 
    
{% endblock %}