{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block header %}
    <link rel="shorturl" href="http://whoruns.it/a/{{ appointee.id }}">
{% endblock %}

{% block title %}{{ appointee.forenames|title }} {{ appointee.surname|title }} - Who runs it?{% endblock %}

{% block content %}
    
    <h2>{{ appointee.forenames|title }} {{ appointee.surname|title }}</h2>
    
    <div id="appointee-details" class="append-bottom span-5"> 
            <div class="item">
                <span class="key" title="Sometimes another company can be appointed to the role of company secretary or director">Type:</span>
                <span class="value" id="appointee-type">{% if appointee.isCorporate %}Corporate{% else %}Individual{% endif %}</span>
            </div>
            <div class="item">
                <span class="key" title="This is the Companies House revision number of the person's information">Revision:</span>
                <span class="value" id="appointee-revision">{{ appointee.revision }}</span>
            </div>
            <div class="item">
                <span class="key">Occupation:</span>
                <span class="value" id="appointee-occupation">{{ appointee.occupation|title}}</span>
            </div>
            <div class="item">
                <span class="key">Age (approx):</span>
                <span class="value" id="appointee-age">{{ age }}</span>
            </div>            
            <div class="item">
                <span class="key">Service address:</span>
                <span class="value" id="appointee-postcode"><a href="http://maps.google.com/?q={{ appointee.town|url_encode }}%20{{ appointee.country|url_encode }}">{{ appointee.town | title }}</a></span> 
                <span class="small quiet">(Google Maps link is APPROXIMATE. Service address is NOT home address)</span>
            </div>             
            <div class="item">
                <span class="key" title="This is the country of the appointee's service address, not necessarily their country of residence or nationality.">Country:</span>
                <span class="value" id="appointee-country">{{ appointee.country | title}}</span>
            </div>   
    </div>
    
    <div id="additional-details" class="append-bottom span-5 last">
        <table>
            <tbody>
                <tr>
                    <th scope="row">Check for updates</th>
                    <td><a href="http://www.levelbusiness.com/doc/person/uk/{{ appointee.id }}">Level Business</a></td>
                </tr>
                <tr>
                    <th scope="row">Wikipedia entry:</th>
                    <td rowspan="5">Coming soon</td>
                </tr>
                <tr>
                    <th scope="row">Personal site:</th>
                </tr>
                <tr>
                    <th scope="row">LinkedIn:</th>
                </tr>
            </tbody>
        </table>
    </div>
 
    <br class="clear">
 
    <h3>Current and former appointments</h3> 
    {# if all the appointments could be displayed on one page #}
    
    {% if companyAppointments|length == totalCompanyAppointments %}
        <p>Showing all {{ totalCompanyAppointments }} appointments.</p> 
    
    {% else %}
        <p>Showing {{ offset + 1 }} - 
            
            {# check in case the last appointment is on this page #}
            
            {% if (offset + numAppointments) < totalCompanyAppointments %} {{ offset + numAppointments }}
            {% else %} {{ totalCompanyAppointments }} {% endif %}
                                  
        of {{ totalCompanyAppointments }} appointments.
        
        {# render pager #}
        
        {% if not offset == 0 %}
            <a href="{{ url('appointee_show', {'id': appointee.id, 'page': page - 1 } )}}">« Previous</a>&nbsp;&nbsp;
        {% endif %}

        {% if (offset + numAppointments) < totalCompanyAppointments %}
            <a href="{{ url('appointee_show', {'id': appointee.id, 'page': page + 1 } )}}">Next »</a>
        {% endif %}
        
        </p>
        
    {% endif %}
        
    <table id="appointments"> 
        <thead> 
            <tr> 
                <th scope="col">Date</th> 
                <th scope="col">Type</th> 
                <th scope="col">Company</th> 
            </tr> 
        </thead> 
        <tbody> 
    
        	{% for appointment in companyAppointments %}
 			
 				<tr{% if appointment.resignedOn %} class="resigned"{% endif %}>			
 					<td>
 					    {{ appointment.appointedOn|date("Y-m-d") }}
 					    {% if appointment.resignedOn %}
 					        – {{ appointment.resignedOn|date("Y-m") }}
 					    {% endif %}
 					</td>
 					<td>{{ appointment.type }}</td>
					<td><A href="{{ url( 'company_show', { 'id': appointment.companyId }) }}">{{ appointment.company.name | title}}</a></td>
				</tr>
				
 			{% endfor %} 
                  
        </tbody> 
    </table> 
    
    <div class="span-5">
        <h3>Non-executive directorships</h3>
        <p>Coming soon</p>
    </div>

    <div class="span-5 last">    
        <h3>Related people</h3>
        <p>Coming soon</p>
    </div>    
    
    <br><hr> 
 	
    <div class="item"> 	
	   <span class="key">Alternative presentations:</span>
	   <span class="value"><a href="{{ url('appointee_show', {'id': appointee.id ,'_format': 'json', 'page': ((offset + numAppointments) / numAppointments)}) }}">JSON</a>, <a href="{{ url('appointee_show', {'id': appointee.id ,'_format': 'rdf', 'page': ((offset + numAppointments) / numAppointments)})}}">RDF</a></span>
	   <div class="small">Please read the <a href="{{ url('api') }}">API notes</a></div>
    </div>
    
    
    <p class="notice">
        <strong>Disclaimer:</strong><br>The contents of this page are a matter of <strong>public record</strong>, used under license from Companies House and held under Crown Copyright. The appointments shown are presumed correct on the date listed by Companies House, and may no longer be current.
        <a href="{{ url('faq') }}">Find out more…</a>
    </p>
    
{% endblock %}