{% extends "TuiDirectorsBundle::base.html.twig" %}


{% block content %}
<h2>Search results</h2>

<h3>Companies</h3>
{% if companies %}
    <p>Showing {{ page_info.offset }}-{{ page_info.companies_end }} of {{ page_info.companies_found }}{% if page_info.companies_found == 1000 %}(max){% endif %}</p>
{% endif %}

<dl>
  {% for c in companies %}
    <dt class="status-{{ c.status | lower | replace({' ':'-', '/':'-' }) }}"><a href="{{ url('company_show', {'id': c.id}) }}">{{ c.name }}</a></dt>
    <dd><p>
        {% for a in company_appointees[c.id] %}
            <span class="search-company-person quiet">{{ a.forenames | title }} {{ a.surname | title }}</span>{% if not loop.last %},{% endif %}{% if loop.index == 5 %}, …{% endif %}
        {% else %}
            <span class="search-company-person quiet">n/a</span>
        {% endfor %}
    </p></dd>
  {% else %}
    No results
  {% endfor %}
</dl>

<p class="clear large center">
    {% if page_info.page > 1 %}
        <a href="{{ url('search_companies', { 'q' : page_info.query, 'page' : page_info.page - 1 }) }}">« Previous</a>&nbsp;
    {% endif %}
    {% if page_info.has_more_pages %}
        <a href="{{ url('search_companies', { 'q' : page_info.query, 'page' : page_info.page + 1 }) }}">More results »</a>
    {% endif %}
</p>


<hr>
<p>Alternative presentations: <a href="{{ url('search_companies', {'_format': 'json'} ) }}?q={{ query | url_encode }}">JSON</a></p>
{% endblock %}
