{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block title %}{{ company.name | title }} - Who runs it?{% endblock %}

{% block content %}

    <h2>{{ company.name | title }}</h2> 

    <div id="company-details" class="append-bottom span-5">
 
	   <div class="item"> 
  		    <span class="key">Status:</span> 
  		    <span class="value">{{ company.status }}</span> 
	   </div> 
 
	   <div class="item"> 
  		    <span class="key">Officers:</span> 
  		    <span class="value">{{ company.officers }}</span> 
	   </div> 

	   {% if company.status not in ['Converted/closed', 'Dissolved'] %}
		  <div class="item">
		  	<span class="key">OpenCorporates entry:</span> 
			<span class="value"><a href="http://opencorporates.com/companies/uk/{{ company.id }}">OpenCorporates</a></span>
 		 </div>
 	  {% endif %}
 	
    </div>
    
    <div id="additional-details" class="append-bottom span-5 last">
        <div class="item">
                <span class="key">Company abstract:</span>
             <span class="value">Coming soon</span>
         </div>
        
        <div class="item">
            <span class="key">Websites:</span>
            <span class="value">Coming soon</span>
        </div>
        
        <div class="item">
            <span class="key">Non-executive directors:</span>
            <span class="value">Coming soon</span>
        </div>
        
        <div class="item">
            <span class="key">Related companies:</span>
            <span class="value">Coming soon</span>
        </div>
        <div class="item">
            <span class="key">Bio:</span>
            <span class="value">Coming soon</span>
        </div>
        
        <div class="item">
            <span class="key">Websites:</span>
            <span class="value">Coming soon</span>
        </div>
        
        <div class="item">
            <span class="key">Non-executive directorships:</span>
            <span class="value">Coming soon</span>
        </div>
    </div>
 
	<h3>Appointments</h3> 
		<table id="appointments"> 
        <thead> 
            <tr> 
                <th scope="col">Date</th> 
                <th scope="col">Appointee</th> 
                <th scope="col">Position</th>
                <th scope="col">Date Source</th> 
            </tr> 
        </thead> 
        <tbody> 

			{% for appointment in company.companyAppointments %} 
  
  				<tr>
  				  <td>{{ appointment.appointedOn|date("Y-m-d") }}</td>
  				  <td><a href="{{ url('appointee_show', { 'id':  appointment.appointee.id  }) }}">{{ appointment.appointee.forenames | title }} {{ appointment.appointee.surname | title }}</a></td>
  				  <td>{{ appointment.type }}</td>
  				  <td>{{ appointment.appointmentDateSource }}</td>
  				</tr>  
			
			{% endfor %}
		
		</tbody>
		</table>
 
    
    <br><hr>
    
    <div class="item">
        <span class="key">Alternative presentations:</span>
        <span class="value"><a href="{{ url('company_show', {'id': company.id ,'_format': 'json'} ) }}">JSON</a>, <a href="{{ url('company_show', {'id': company.id ,'_format': 'rdf'} ) }}">RDF</a></span>
    </div>
	
{% endblock %}