<!DOCTYPE html>
<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}Who runs it?{% endblock %}</title>
       	
       	{% block stylesheets %}
  			<link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset('css/blueprint/screen.css') }}" />
  			<link rel="stylesheet" media="print" type="text/css" href="{{ asset('css/blueprint/print.css') }}" />
  			<!--[if lt IE 8]>
    			<link rel="stylesheet" href="{{ asset('css/blueprint/ie.css') }}" type="text/css" media="screen, projection" />
  			<![endif]-->
            <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset('css/source/style.css') }}" />
		{% endblock %} 
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block header %}{% endblock %}
    </head>
    
    
    <body>
        
        {% block body %}
  		
  		<div class="container">
   			
   			<div class="span-8 prepend-top">
      			<h1><a href="{{ url("home") }}">{% block pagetitle %}<img src="{{ asset('images/logo.png') }}" alt="" />{% endblock %}</a></h1>
    		</div>
    		
    		<div class="span-3 last">
    		  &nbsp;
    		{% block headersearch %}
    		      <form action="{{ url('search_all') }}" method="get" accept-charset="utf-8" class="" id="right-col-search">
      			           <p>
                            <!--<label for="search">Search:</label>--> <input type="text" name="q" placeholder="Person / Company" id="search" class="" />
        			         <input type="submit" class="success" value="Search" />
      			           </p>
    		      </form>
            {% endblock %}
            </div>
            
        	<div class="span-4 last prepend-7 prepend-top">
        	   <span id="internal-links">
        	       <a href="{{ url('aboutus') }}">About Us</a> | 
        	       <a href="http://blog.whorunsit.org/">Blog</a> | 
        	       <a href="{{ url('faq') }}">FAQ</a> | <a href="{{ url('api') }}">API</a>
        	       | <a href="http://flattr.com/thing/418586/Who-Runs-It" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>
        	   </span>
            </div>
        
            <br class="clear" />
            
            
            {% block contentheader %}
      		{% endblock %}
            
            <div class="span-10 prepend-1 prepend-top">      		
              
      		    {% block content %}
      		   
      		        <div class="span-7 column">
      		            {% block leftcol %}
      		            {% endblock %}
      		        </div>
      		    
      		        <div class="span-3 column last"> 
                        {% block rightcol %}
      		            {% endblock %}
      		        </div>
      		   
      		    {% endblock %} 
      		</div>
  		</div>
        <div id="footer">
            Companies House appointment data is Crown Copyright, used under licence.<br>
            Questions? Comments? <a href="{{ url('faq') }}">Read the FAQ</a>
        </div>    

		{% endblock %}

        
        
        {% block javascripts %}{% endblock %}
        

        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-2290063-3");
        pageTracker._trackPageview();
        } catch(err) {}</script>
    </body>
</html>