<!DOCTYPE html>
<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}Who runs it?{% endblock %}</title>
       	
       	{% block stylesheets %}
  			<link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset('css/blueprint/screen.css') }}" />
  			<link rel="stylesheet" media="print" type="text/css" href="{{ asset('css/blueprint/print.css') }}" />
  			<!--[if lt IE 8]>
    			<link rel="stylesheet" href="{{ asset('css/blueprint/ie.css') }}" type="text/css" media="screen, projection" />
  			<![endif]-->
            <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset('css/source/style.css') }}" />
		{% endblock %} 
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    
    </head>
    
    
    <body>
        
        {% block body %}
  		
  		<div class="container">
   			
   			<div class="span-8">
      			<h1><a href="{{ url("home") }}">{% block pagetitle %}<img src="{{ asset('images/logo.png') }}" alt="" />{% endblock %}</a></h1>
    		</div>
    		
    		<div class="span-3 last">
    		  &nbsp;
    		{% block headersearch %}
    		      <form action="{{ url('search_all') }}" method="get" accept-charset="utf-8" class="" id="right-col-search">
      			           <p>
                            <!--<label for="search">Search:</label>--> <input type="text" name="q" value="Person / Company" id="search" class="" onfocus="if(this.value==this.defaultValue) { this.value=''; this.style.color='#000'; }">
        			         <input type="submit" class="success" value="Search" />
      			           </p>
    		      </form>
            {% endblock %}
            </div>
            
        	<div class="span-3 last prepend-8">
        	   <span id="internal-links"><a href="{{ url('aboutus') }}">About Us</a> | <a href="{{ url('faq') }}">FAQ</a> | <a href="{{ url('api') }}">API</a></span>
            </div>
        
                  		
      		{% block content %}
      		  
      		  {% block contentheader %}
      		  {% endblock %}
      		   
      		    <div class="span-7 column prepend-1 prepend-top">
      		       {% block leftcol %}
      		       {% endblock %}
      		    </div>
      		    <div class="span-3 column prepend-top last"> 
                    {% block rightcol %}
      		        {% endblock %}
      		   </div>
      		{% endblock %} 
    
  
  		</div>

		{% endblock %}
        
        
        {% block javascripts %}{% endblock %}
        

        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-2290063-3");
        pageTracker._trackPageview();
        } catch(err) {}</script>
    </body>
</html>